---
layout: default
---

<div>

  {{ content }}

  <h2>blog bits</h2>
  <a href="feed.xml">rss</a>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
	{% assign date_format = "%b %-d, %Y" %}
	<hr>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3><a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a></h3>

        <span>{{ post.excerpt | markdownify | truncatewords: 300 }}</span>
      </li>
    {% endfor %}
  </ul>

</div>